.heading {
  font-family: var(--font-serif);
  letter-spacing: 0.1em;
}

.level1 {
  font-size: 1.875rem;
}

@media (min-width: 768px) {
  .level1 {
    font-size: 2.5rem;
  }
}

.level2 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .level2 {
    font-size: 1.875rem;
  }
}

.level3 {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .level3 {
    font-size: 1.5rem;
  }
}
