.container {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: var(--color-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dotsWrapper {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  letter-spacing: 0.3em;
  font-family: var(--font-serif);
}
