.stack {
  display: grid;
  grid-template-areas: "stack";
}

.contentWrapper {
  margin: 0 auto;
  max-width: 92vw;
}

@media (min-width: 768px) {
  .contentWrapper {
    max-width: none;
  }
}

.title {
  font-size: 1.5rem;
  font-family: var(--font-serif);
  margin-bottom: 2rem;
  line-height: 1.625;
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  .title {
    font-size: 1.875rem;
    margin-bottom: 3rem;
  }
}

.body {
  font-size: 0.875rem;
  line-height: 2;
  letter-spacing: 0.1em;
  color: rgba(209, 213, 219, 1);
  font-weight: 300;
}

@media (min-width: 768px) {
  .body {
    font-size: 1rem;
  }
}
