.section {
  padding: var(--section-padding-mobile);
}

@media (min-width: 768px) {
  .section {
    padding: var(--section-padding-desktop);
  }
}

.wrapper {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 8rem;
  }
}
