.nav {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    display: block;
  }
}

.list {
  display: flex;
  gap: 2rem;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
