.cursorDot {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  display: none;
}

@media (min-width: 768px) {
  .cursorDot {
    display: block;
  }
}

.cursorOutline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transition: width 0.2s, height 0.2s, background-color 0.2s;
  display: none;
}

@media (min-width: 768px) {
  .cursorOutline {
    display: block;
  }
}
